<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include('Partials/header.ejs'); -%>

    <h1>About</h1>

    <p><%= aboutcontent %></p>
    <%- include('Partials/footer.ejs'); -%>
  </body>
</html>
